<!DOCTYPE html>
<html>

<head>
    <title>Razorpay Payment Integration</title>
    <title>Razorpay Payment Integration</title>
    <style>
        .myNav {
            display: block;
            height: 50px;
            line-height: 50px;
            background-color: #384d31;
        }

        .myNav ul {
            list-style: none;
        }

        .myNav li {
            float: left;
        }

        .myNav li a {
            display: inline-block;
            text-align: center;
            padding: 14px 16px;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h3 {
            margin-top: 30px;
        }

        form {
            width: 50%;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 10px;
        }

        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border-radius: 3px;
            border: none;
            margin-bottom: 20px;
        }

        button[type="submit"] {
            background-color: #4CAF50;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            cursor: pointer;
        }

        button[type="submit"]:hover {
            background-color: #3e8e41;
        }

        button[type="submit"]:active {
            background-color: #3e8e41;
            transform: translateY(1px);
        }
    </style>
</head>

<body>
    <nav class="myNav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/subscription">Subscription</a></li>
            <li><a href="/qrcode">QR Code</a></li>
            <li><a href="/customer">Customer</a></li>
            <li><a href="/payment">Payment</a></li>
            <li><a href="/auth">auth</a></li>
        </ul>
    </nav>
    <br>
    <h3>Click here to get all orders</h3>
    <form action="/api/order/orders" method="get">
        <button type="submit">All Orders</button>
    </form>
    <br><br>
</body>
</html>