<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Link</title>
</head>

<body>
    <button onclick="history.back()">Go Back</button>
    <h3>Fill details to generate a payment link</h3>
    <form action="/api/link/payment_links" method="POST">
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required>
        <br><br>
        <label for="currency">Currency:</label>
        <select id="currency" name="currency" required>
            <option value="INR">INR</option>
            <option value="USD">USD</option>
            <option value="EUR">EUR</option>
            <option value="GBP">GBP</option>
        </select>
        <br><br>
        <label for="notes">Notes:</label>
        <input type="text" id="map-data" name="note" required>
        <br><br>
        <button type="submit">Generate Payment Link</button>
    </form>

    <h3>Fill details to cancel a payment link</h3>
    <form action="/api/link/cancel" method="post">
        <label for="paymentLinkId">paymentLinkId:</label>
        <input type="text" id="paymentLinkId" name="paymentLinkId" required>
        <button type="submit">Cancel Payment Link</button>
    </form>
</body>

</html>