<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All orders of RazorPay</title>
</head>

<body>
    <h3>All orders of RazorPay</h3>
    <ul>
        <% orders.items.forEach(function(order) { %>
            <li>
                order ID: <%= order.id %><br>
                    Amount: <%= order.amount %><br>
                        Status: <%= order.status %><br>
                            Created At: <%= order.created_at %><br>
            </li>
            <% }) %>
    </ul>
</body>

</html>