<h1>click here to pay <%= data.amount %> here</h1>
<br>
<button id="rzp-button1">Pay</button>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        key: "rzp_test_dvLgwKDK60M5Xv",
        amount: `<%= data.amount %>`,
        currency: `<%= data.currency %>`,
        name: 'old monk shop',
        order_id: `<%= data.id %>`,
        callback_url: 'http://localhost:3000/api/paymentverify',
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        res.redirect()
    });
    document.getElementById('rzp-button1').onclick = function (e) {
        rzp1.open();
        e.preventDefault();
    }
</script>