<h3>fill this form to create a subscription</h3>
<form method="post" action="/api/user/subscription">
    <label for="period">Period:"daily" | "weekly" | "monthly" | "yearly" </label>
    <input type="text" name="period" id="period"><br><br>

    <label for="interval">Interval:</label>
    <input type="text" name="interval" id="interval"><br><br>

    <label for="quantity">quantity:</label>
    <input type="text" name="quantity" id="quantity"><br><br>

    <label for="customer_id">customer_id:</label>
    <input type="text" name="customer_id" id="customer_id"><br><br>

    <label for="total_count">total_count for subscription:</label>
    <input type="text" name="total_count" id="total_count"><br><br>
    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate">
    <br><br>

    <label for="name">Item Name:</label>
    <input type="text" name="item[name]" id="name"><br><br>

    <label for="amount">Item Amount:</label>
    <input type="text" name="item[amount]" id="amount"><br><br>
    <label for="currency">Item Currency:</label>
    <select name="item[currency]" id="currency">
        <option value="INR" selected>Indian Rupee (INR)</option>
    </select><br><br>

    <label for="description">Item Description:</label>
    <input type="text" name="item[description]" id="description"><br><br>

    <input type="submit" value="Submit">
</form>


<h3>fill this form to create a Customer</h3>
<form method="post" action="/api/user/customer">
    <label for="name">name</label>
    <input type="text" name="name" id="name"><br><br>

    <label for="contact">contact:</label>
    <input type="text" name="contact" id="contact"><br><br>

    <label for="email">email:</label>
    <input type="text" name="email" id="email"><br><br>

    <label for="gstin">gstin:</label>
    <input type="text" name="gstin" id="gstin"><br><br>
    <input type="submit" value="Submit">
</form>