<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment Confirmation - My Business</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
        }

        h3 {
            color: green;
            font-size: 24px;
        }

        a {
            color: blue;
            text-decoration: none;
            border-bottom: 1px solid blue;
        }

        a:hover {
            background-color: blue;
            color: white;
        }
    </style>
</head>

<body>
    <a href="/">Back to Home</a>
    <h3>Payment Successfully Completed</h3>
    <p>Thank you for your payment Your payment has been processed and your account has been updated.</p>
</body>

</html>